body{
  background-color: black;
  font-family: oswald;
}

.top.ui.borderless.menu {
  background-color: black;
  box-shadow: none;
  border: none;
  margin-top: 0px;
  margin-bottom: 25px;
}

.top.ui.sticky{
  background-color: black;
}

p{
  font-family: oswald;
  line-height: 19px;
}

p3{
  margin-top: 15px;
  font-family: oswald;
  color: #707070;
  font-size: 20px;
}

p2{
  font-family: oswald;
  color: #707070;
}

.grey.background{
  margin-top: 0;
  background-color: #1e1e1e;
}